{% extends 'layout.html' %}

{% block head %}
	<title>Home</title>
	<meta id="option" data-name="{{ opt }}">
	<link rel="icon" type="image/png" href="static/images/icons/home1.jpg"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<link href="static/style.css" rel="stylesheet">
	
{% endblock %}

{% block container %}
	<div class = "op1">
		<li class="nav-item">
			<a class="nav-link" id = 'l'  href= "{{url_for('login')}}" style = "color:white"><i class="fa fa-user-o" aria-hidden="true"></i> Sign In</a>
		</li>
	</div>
	<div class = "op1">
		<li class="nav-item">
			<a class="nav-link" id = 's'  href= "{{url_for('signup')}}"  style = "color:white"><i class="fa fa-user-plus"></i>  Sign Up</a>
		</li>
	</div>
	<div class="op1">
		<li class="nav-item">
			<a class="nav-link" id = 'i'   href= "#about" style = "color:rosybrown"><i class="fa fa-tag"></i>  About</a>
		</li>
	</div>
	<div class = "op1">
		<li class="nav-item">
			<a class="nav-link" id = 'l'  href= "#help" style = "color:white"><i class="fa fa-telegram" aria-hidden="true"></i></i> Help</a>
		</li>
	</div>
	
	<div class="op2">
		<li class="nav-item">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<img src="{{profileurl}}"  alt="Image" onerror=this.src="static/images/emptydp.png" height="30" width="30" class="profile-image img-circle"></t><b class="caret" style = "padding-left: 7px;">{{username}}</b></a>
				<ul class="dropdown-menu" style = "background-color:rgb(250, 232, 209); list-style: none;">    
					<li><a href="{{url_for('profile')}}">&ensp;<i class ="fa fa-user-circle-o"></i> &nbsp;Profile</a></li>
					<li class="divider"></li>                                                                                                                                                                                                      
					<li><a href="{{url_for('book')}}">&ensp;<i class ="fa fa-motorcycle"></i> &nbsp;Book Ride</a></li>
					<li class="divider"></li>
					<li><a href="{{url_for('logout')}}">&ensp;<i class="fa fa-eject" aria-hidden="true"></i> &nbsp;Sign Out</a></li>
				</ul>
			</li>
		</li> 
	</div>
	
{% endblock %}

{% block body %}
<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
	</ul>

	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="static/images/background.jpg">
			<div class="carousel-caption">
				<h1 class="display-2" style = "color:aqua">Welcome to ROVE!!</h1>
				<div class = "op1">
					<button onclick="login()" type="button" class="btn btn-outline-light btn-lg"><i class="fa fa-sign-in"></i>  Sign In</button>
					<button onclick="signup()" type="button" class="btn btn-primary btn-lg"><i class="fa fa-user-plus"></i>  Sign Up</button>
				</div>
				<div class ="op2">
					<button onclick="book()" type="button" class="btn btn-primary btn-lg"><i class ="fa fa-motorcycle"></i>  Book Ride</button>
				</div>
			
			</div>
		</div>
	
	</div>
</div> 




<!--- Welcome Section -->
<div class="container-fluid padding" style = "color:aqua">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Book scooter with ease</h1><hr>
		</div>
		
		<div class="col-12">
			<p class="lead">Follow these 3 simple steps</p>
		</div>
	 
	</div>

</div>



<!--- Three Column Section -->
<div class="container-fluid padding" style = "color:aqua">
	<div class="row text-center padding">	
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2>Step 1</h2>
			<h3>Book ride</h3>
			<p>Select from and to locations</p>

		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<h2>Step 2</h2>
			<h3>Recieve OTP</h3>
			<p>Enter the OTP into the scooter</p>
		</div>
		<div class="col-xs-12 col-md-4">
			<h2>Step 3</h2>
			<h3>Finish ride</h3>	
			<p>Finish the ride</p>
		</div>
	</div>
</div>

<hr class="my-4">

<!--- Two Column Section -->
<div class="container-fluid padding" id="about">
	<div class="row padding">
		<div class="col-lg-6" style = "color:aqua">
			<h2>Details</h2>
			<p style="font-size:20px" >Rove is a dockless two wheeler rental service. 
				Riders will book a rental bike and pickup at their nearest station, ride to the destination and drop off there.
			</p>
			<br>
				 

		</div>
		<div class="col-md-6">
			<img src="static/images/maxresdefault.jpg" class="img-fluid">
		</div>
	</div>
</div>

<hr class="my-4">
<script>
	window.onload = myfunc();
	function myfunc(){
		option("{{ opt }}");
		document.getElementById('flash').style.display = "none";
	}
	

	
	function option(opt){
		if (opt == 1){
			func1();
		}
		
		else if(opt == 2){
			func2();
		}
	
	}
	function func1(){
		var x = document.getElementsByClassName("op1");
		for (var i = 0; i < x.length; i++){
			x[i].style.display = "none";
		}
		
	}
	function func2(){
		var y = document.getElementsByClassName("op2");
		for (i = 0; i < y.length; i++){
			y[i].style.display = "none";
		}
	}
</script>
{% endblock %}













